.ibuscar, .ilogin, .icarrito{
  font-size: 1.5em;
  cursor: pointer;
}
.input-group-text:hover   {
  color:rgb(255, 255, 255) !important;
  transform: scale(1.1) !important;
}
.overlink:hover   {
  color:rgb(255, 255, 255) !important;
  transform: scale(1.1) !important;
}
.bcart {
  top: -5px;
  left: 33px;
}
