  /*********************/
  /* Paleta de colores */
  /*********************/
:root {  
  /* Ligth */
  --color-bg-light:  #f9f9f9;
  --color-bg-light1:  #e9e9e9;
  --color-texto-light:  #555;
  --color-surface-light: rgba(255, 255, 255, 0.2);
}

   /* Dark */


  /*********************/
  /* Modo C L A R O    */
  /*********************/
/*  🌞 Modo claro 

   */

   /* Modo Claro por defecto.
   Definimos que cambia y que color usamos para eso, tanto fondo como texto */


 /* body de la app éste formato está en app.jsx */
.body-app {
background-color: rgb(255, 228, 178);
color: var(--color-texto-light);
border-radius: 75px 75px 0 0;
}
/* fondo de los contenidos */
.fondo-light {
  background-color: rgb(255, 228, 148);
  color: var(--color-texto-light) !important;
}
/* fondo comun todas las paginas se configura el containes con fondo-app  */
.fondo-page {
  background-color: rgb(255, 228, 148);
  color: var(--color-texto-light) !important;
}

/* el header-Top arriba del menu */
.header-top{
  background-color: rgb(255, 240,158 );
  color: var(--color-texto-light) !important;
  border-radius: 50px 50px 0 0;
}
/* los textos adicionales del header top */
.ibuscar, .tbuscar, input-group-text {
  color:var(--color-texto-light) !important;
}
/* el hover de los links de HeaderTop */
.overlink:hover   {
  color:var(--color-texto-light) !important;
  transform: scale(1.1) !important;
}
/* -----------------FIN HEADER TOP----------------------- */
/* El banner es el titulo en todas las paginas */
.banner {
    /* modo ligth */
  background-color: rgb(255, 228, 158);
  color: var(--color-texto-light) !important;
}

/* detalles internos de las paginas en transparencia 
para que se adepten mejor a los temas */

.detalles-internos {
  background-color: rgba(255, 255, 255, 0.5);
}


  /*********************/
  /* Modo O S C U R O  */
  /*********************/
  /* 🌑 Modo oscuro

  */

.header-top.darkMode{
  background-color: #f9f9f9;
  color:darkslategrey;
  border-radius: 50px 50px 0 0;
}

