
/* ============================================
   PRODUCT GRID (para ProductList - Tienda)
   ============================================ */
/* Grid adaptable: tantas columnas como entren según ancho de pantalla */
.product-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
}
/* ============================================
   PRODUCT CARD (compartido)
   ============================================ */
.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch; /* columnas con misma altura */  
  border: 1px solid #ddd;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.2s, box-shadow 0.2s;
}
/* ============================================
   PRODUCT CARD (compartido)
   ============================================ */
.product-card.featured {
  grid-column: span 2; /* ocupa 2 columnas */
  grid-row: span 1;    /* altura normal de 1 fila */
  flex-direction: row;
  align-items: stretch; /* columnas con misma altura */  
  min-height: 400px;
  position:relative;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

/* ============================================
   CONTENEDOR DE IMAGEN Y OVERLAY DE ICONOS
   ============================================ */
.image-container {
  position: relative;
}
.image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.image-container-featured img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ============================================
   INFORMACIÓN DEL PRODUCTO
   ============================================ */
.product-info {
  padding: 10px 12px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content:center; /* mantiene el botón abajo */
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.price {
  font-weight: 600;
  margin: 5px 0;
}
/* ============================================
   OPCIÓN PARA LISTADOS PEQUEÑOS (SEARCH)
   ============================================ */
.search-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr)); /* normalmente 1 columna */
  justify-content: center;     /* centra la tarjeta si es solo una */
  gap: 20px;
}

.search-grid .product-card {
  max-width: 350px; /* límite solo para search */
  width: 100%;
  margin: 0 auto;
}
