/* archivo banner.css
 * Diseño de estilos */
.banner {
  width: 100%;
  height: auto;
  margin: 0;
  text-align: center;

}
.banner h1 {
  font-weight: 300;
  text-shadow: 0 0 60px var(--color-fondo);
}
.banner p {
  font-size: 1em;
  font-weight: 400;
}

