/* =========================
  app.css - GLOBAL - se aplica a 
  toda la app, es por eso que 
  aqui esta el logo para que 
  tenga acceso a todas las rutas
   ========================= */

/* Fuente y reset general */
/* Utilizamos Poppins para el general, y 
algunos títulos en Kaushan Script por las 
letras de nuestro logo (Esto es sólo para 
mi Pre-Entrega, no se corresponde con éste proyecto) */
html{
  font-size: 16px; 
  border: 15px solid rgb(240, 240, 190);
  border-radius: 73px;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0; 
  border-radius: 75px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1em;
  background-color: rgb(240, 240, 190);
}
#root {
  margin: 0 auto;
  box-sizing: border-box;
}
:root {
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*********************/
  /* Paleta de colores */
  /*********************/
  /* Ligth */
  --color-bg-light:  #f9f9f9;
  --color-bg-light1:  #e9e9e9;
  --color-texto-light:  #555;
  --color-surface-light: rgba(255, 255, 255, 0.2);

   /* Dark */

  --color-fondo: rgb(31, 26, 20);
  --color-negro: rgb(0, 0, 0);
  --color-blanco: rgba(255,255,255,1);
  --color-fondotr08: rgba(31, 26, 20, 0.8);
  --color-fondotr06: rgba(31, 26, 20, 0.6);
  --color-fondotr03: rgba(31, 26, 20, 0.3);
  --color-fondotr01: rgba(31, 26, 20, 0.1);
  --color-claro: rgb(247, 235, 212);
  --color-oscuro: rgb(184, 75, 20);
  --color-resaltado: rgb(247, 201, 110);
  --color-resaltadotr03: rgba(247, 201, 110, 0.3);
  --color-gris: rgb(55, 55, 55);
  --color-gris-1t: rgb(60, 60, 60);
  --color-gris-tr: rgba(55, 55, 55, 0.7);
  --color-amarillo: rgb(255,193,7);
}
.container {
  margin: 0 auto !important;
  padding: 0 !important;
}
/* ============================================
  COLORES DISPONIBLES
   ============================================ */

.color-badge {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  box-shadow: 1px 1px 15px var(--color-gris);
  transition: transform 0.2s ease;
  opacity: 0.8;
}
.color-badge.selected {
  transform: scale(1.3);
  border: 2px solid #960404;
  opacity: 1;
}
.color-badge:hover {
  border: 1px solid #960404;
  transform: scale(1.3);
  opacity: 1;
}
/* ============================================
  TAMAÑOS DISPONIBLES
   ============================================ */

.size-badge {
  width: auto;
  height: 36px;
  border-radius: 20px;
  border: 1px solid #000;
  cursor: pointer;
  box-shadow: 1px 1px 15px var(--color-gris);
  background-color: #eee;
  color: #333;
  padding: 4px 10px;  
  font-size: 1.2rem;
  transition: background 0.2s ease;
}

.size-badge.selected {
  background: #000;
  color: #fff;
  border: 1px solid #960404;
}
.size-badge:hover {
  background: #000;
  color: #fff;
  border: 1px solid #960404;
}

/* ============================================
  BADGE DE DESCUENTO EN LA IMAGEN PRODUCTO
   ============================================ */
  /* oferta sobre la imagen del producto estrella */
.image-badge-estrella {
  position: absolute;
  width: 90px;
  aspect-ratio: 1 / 1; 
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: rgb(227, 90, 17);
  color: rgb(238, 238, 232);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding-top: 28px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); /* sombra negra sutil */
  z-index: 3;
  transform: rotate(-15deg);
}
 /* oferta sobre la imagen del producto normal */
.image-badge-normal {
  position: absolute;
  width: 65px;
  aspect-ratio: 1 / 1; 
  top: 20px;
  left: 20px;
  border-radius: 50%;
  border: 5px solid #fff;
  background-color: rgb(227, 90, 17);
  color: rgb(238, 238, 232);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  padding-top: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6); /* sombra negra sutil */
  z-index: 3;
  transform: rotate(-15deg);
}
/* ===================================================
  ICONOS DE FAVORITOS, VER Y CARRITO SOBRE LA IMAGEN
   =================================================== */
/* Overlay de íconos en la esquina superior izquierda */
.icons-overlay {
  position: absolute;
  bottom: 25px;
  left: 70%; 
  display: flex;
  align-items: center;
  gap: 5px;
}
.icons-overlay-f {
  position: absolute;
  bottom: 25px;
  left: 50%; 
  display: flex;
  align-items: center;
  gap: 5px;
}











.custom-shadow {
  box-shadow: 0 5px 15px var(--color-fondotr06);
}

.logo {
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 20px var(--color-resaltado)); 
}

.icono-interactivo {
  cursor: pointer; /* Esto muestra la 'manito' al pasar el ratón */
}

.red:hover{
  transform: scale(1.2);
}
 
  /*********************/
  /* F o o t e r       */
  /*********************/
.footer {
  border-radius: 0 0 50px 50px;
  padding-top: 40px;
}  
.logo-luz {
  filter: drop-shadow( 0 0 40px var(--color-oscuro)); 
}
/* Media Query para móvil: apila las columnas */
@media (max-width: 768px) {
  .contenido-total {
  width: 100%;
  max-width: 100%;  
  padding: 0;
}

}


